<h2>Samples Available in Lab</h2>
<button ng-click="invite()">Add New Samples</button>
<table>
  <tr>
    <th>Delete</th>
    <th>Update</th>
    <th> </th>
    <th>Name</th>
    <th>Description</th>
    <th>Concentration</th>
  </tr>
  <tr ng-repeat="sample in samples | orderBy:'name' | orderBy:'description'">
      <td> <button ng-click="delete(sample)">delete</button> </td>
      <td> <button ng-click="update(sample)">update</button> </td>
      <td> {{ $index + 1 }}. </td>
      <td> {{ sample.name }} </td>
      <td> {{ sample.description }} </td>
      <td> {{ sample.concentration }}</td>
    </tr>
</table>

